.map-width {
  height: 100%;
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-top: 150px;
  touch-action: pan-x pan-y;
}
.checkbox-field {
  display: inline-flex;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  top: 60px;
  left: 0;
  background-color: #f1f1f1;
  z-index: 1;
  padding: 15px 11px 13px 38px;
  border: 1px solid #cfcfcf;
  margin-left: 5%;
  margin-right: 20%;
}
.map-width .form-group .checkbox-field input, label {
  cursor: pointer;
  display: inline;
}
input[type="checkbox"]{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.search-responsive {
  padding: 0;
  margin: unset;
}
.sub-list {
  padding-top: 100px;
}
.search-responsive .clearfix section .sub-list a {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  color: #f59317;
  text-decoration: none;
  background-color: transparent;
}
.search-responsive .clearfix section .sub-list a:hover {
  color: #985f0d;
  transition: .3s linear;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
  position: relative;
}
.has-feedback {
  position: relative;
}
.form-inline {
  padding: 15px;
}
mat-radio-group mat-radio-button {
  margin-top: 10px;
  margin-right: 30px;
}
.service button {
  float: right;
}
.service div div, mat-form-field {
  padding: 1%;
}
mdb-card mdb-icon {
  float: right;
  position: absolute;
  visibility: visible;
  margin-top: -50%;
  margin-left: 85%;
  color: #e79845;
}
