
.page-header {
  display: table;
  width: 100%;
  padding-bottom: 7px;
  margin: 0 0 15px;
  clear: both;

}
.head {
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
}
.head label {
  display: flex;
}
.head label h4 {
  font: 20px Roboto,sans-serif;
  color: #555;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 39px;
  padding-left: 50px;
}
.head label:last-child {
  margin-left: 59%;
}
//#page-wrapper {
//  background-color: #f5f5f5;
//  margin: 0 0 0 20px;
//  padding: 15px 25px;
//  position: relative;
//  border-left: 1px solid #d3d3d3;
//  width: 100%;
//}
.head label .custom-select {
  .custom-select {
    height: 30px;
    padding-top: 0;
  }
}
table thead {
  background: #656565;
  color: #ffffff;
  font: 14px Roboto, sans-serif;
  width: auto;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  th {
    padding: 11px;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #9e9e9d;

}
.container {
  margin-top: 80px;
  margin-left: 10%;
}
#serviceprovider tr:nth-child(even){background-color: #f8f9fa;}

#serviceprovider tbody tr:hover {background-color: #ddd;}
table tbody {
  font: 14px Roboto, sans-serif;
  width: auto;
  td {
    padding: 11px;
    vertical-align: middle;
  }
  td:last-child {
    display: flex;
  }
  td:last-child a {
    margin: 10px;
  }
}
.fa-pen {
  color: #3fd67b;
}
.fa-trash-alt {
  color: #ff5555;
}
