<div class="container col-10">
    <div class="col-sm-3">
        <a [routerLink]="['/admin/users']" [routerLinkActive]="['router-link-active']" class="nav-link">
            <button type="button" mdbBtn color="success" mdbWavesEffect><i class="fas fa-list"></i>&nbsp;List</button>
        </a>
        <a [routerLink]="['/admin/remove']" [routerLinkActive]="['router-link-active']" class="nav-link">
            <button (click)="alert($event)" type="button" mdbBtn color="dark" mdbWavesEffect><i class="fas fa-trash-alt"></i>&nbsp;DELETE </button>
        </a>
    </div>
    <form class="form-group">
        <label class="col-lg-3 col-sm-12">
            Email *
        </label>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <input type="text" class="form-control m-input" name="email" placeholder="Enter your email"
                   data-toggle="m-tooltip" title="Enter Your Email">
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col">
            <select>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="button" mdbBtn color="success" mdbWavesEffect>Save</button>
        </div>
    </form>
</div>
