<div class="container-fluid">
    <div class="title col-lg-12">
        <h3>Site Settings</h3>
    </div>
    <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light"  type="submit">Search</button>
    </form>
    <div class="list-group">
        <ul class="list-inline">
            <li class="list-inline-item col-md-4" >
                <mdb-card>
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-journal-whills fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>System</h3>
                        </div>
                        <div class="description">
                            <h5>Manage site name, currency details, language detail...</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-address-card fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>SEO</h3>
                        </div>
                        <div class="description">
                            <h5 style="margin-left: 15px;">Manage content meta data and other information re...</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-chart-line fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Follow Us</h3>
                        </div>
                        <div class="description">
                            <h5>manage site's social network links. Enter full URL...</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-users fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Account</h3>
                        </div>
                        <div class="description">
                            <h5>Manage account settings such as admin approval, em...</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-portrait fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Withdrawal</h3>
                        </div>
                        <div class="description">
                            <h5>Manage cash withdraw settings for a user such as e...</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-shopping-basket fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>SMS</h3>
                        </div>
                        <div class="description">
                            <h5 style="margin-left: 15px;">Manage SMS Gateway settings</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-mobile fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Push Notification Settings</h3>
                        </div>
                        <div class="description">
                            <h5 style="margin-left: -120px;">For Manage Android and IOS Push Notification Setti...</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fab fa-buysellads fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Booking</h3>
                        </div>
                        <div class="description">
                            <h5>Manage Booking related settings</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-mobile-alt fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Affiliates</h3>
                        </div>
                        <div class="description">
                            <h5>Manage Affiliates related settings.</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-dollar-sign fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>ProUser</h3>
                        </div>
                        <div class="description">
                            <h5>Manage ProUser related settings.</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fas fa-thumbs-up fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>TopUser</h3>
                        </div>
                        <div class="description">
                            <h5>Manage TopUser related settings.</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fab fa-mailchimp fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Mailchimp</h3>
                        </div>
                        <div class="description">
                            <h5>Manage Mailchimp related settings.</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
            <li class="list-inline-item col-md-4">
                <mdb-card >
                    <div class="row">
                        <div class="col-xs-4" mdbWavesEffect>
                            <span><i class="fab fa-cc-paypal fa-2x fa-inverse"></i></span>
                        </div>
                        <div class="number">
                            <h3>Interview</h3>
                        </div>
                        <div class="description">
                            <h5>Manage Interview related settings.</h5>
                        </div>
                    </div>
                </mdb-card>
            </li>
        </ul>
    </div>
</div>
