<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-menu">
                    <ul class="list-unstyled">
                        <li>How it Works</li>
                        <li>Become a Service Provider</li>
                        <li>Press</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-menu">
                    <ul class="list-unstyled">
                        <li>About Us</li>
                        <li>Privarcy & Policy</li>
                        <li>Term and Conditions</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <p>We accept</p>
                <img src="../../../../assets/images/card_icon.png">
                <ul class="list-unstyled row footer-menu">
                    <li class="faq">
                        <ul class="list-unstyled">
                            <li>
                                <a>Help & Faqs</a>
                            </li>
                            <li>
                                <a> Contacts us on</a>
                            </li>
                            <li>
                                <a> Week days</a>
                            </li>
                            <li>
                                <a> Week days</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="clearfix list-unstyled">
                    <li>
                        <select class="form-control ng-valid">
                            <option>English</option>
                            <option>French</option>
                            <option>German</option>
                            <option>Japanese</option>
                            <option>Norwegian</option>
                            <option>Portuguese</option>
                            <option>Spanish</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bellow container-fluid">
    <div class="row">
        <p>Copyright @On Demand Service MaketPlace - All Rights Reserved</p>
        <div class="float-right">
            <ul class="list-inline pull-right">
                <li class="list-inline-item fa-facebook">
                    <i class="fab fa-facebook"></i>
                </li>
                <li class="list-inline-item fa-twitter">
                    <i class="fab fa-twitter-square"></i>
                </li>
                <li class="list-inline-item fa-google-plus">
                    <i class="fab fa-google-plus-g"></i>
                </li>
                <li class="list-inline-item fa-linkedin">
                    <i class="fab fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
