<div id="page-wrapper">
    <div ui-view class="ng-scope">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="head row">
                    <label><h4><span> Responses </span></h4></label>
                    <label>
                        <button mat-button [matMenuTriggerFor]="menu">Add Filter &nbsp;<i class="fas fa-angle-down"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Customer</button>
                            <button mat-menu-item>Service Provider</button>
                        </mat-menu>
                    </label>
                </div>
            </div>
            <div class="md-form">
                <input mdbInput type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="requests" class="container">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-model="all">
                        </th>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Service Provider</th>
                        <th>Location</th>
                        <th>Job Type</th>
                        <th>Timing Type</th>
                        <th>Status</th>
                        <th>Requests</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of employees?.data">
                        <td>
                            <input type="checkbox" ng-checked="all">
                        </td>
                        <td>
                            {{data.id}}
                        </td>
                        <td>
                            {{data.email}}<br>
                        </td>
                        <td>{{data.phone_number}}</td>
                        <td>Location</td>
                        <td>Job</td>
                        <td>timing</td>
                        <td>status</td>
                        <td>requests user</td>
                        <td>created on</td>
                        <td>
                            <a [routerLink]="['/admin/remove']" [routerLinkActive]="['router-link-active']">
                                <i class="fas fa-trash-alt" mdbWavesEffect></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
