<div class="container col-10">
    <div class="page-header">
        <h4><span> Manage Allowed Service Locations </span></h4>
    </div>
    <form class="form-group">
        <mdb-checkbox [checked]="true">All Countries</mdb-checkbox>
        <h3>(or)</h3>
        <div class="md-form">
            <input mdbInput placeholder="First Name" type="text" id="form53" class="form-control">
        </div>
        <h3>(or)</h3>
        <div class="md-form">
            <input mdbInput placeholder="Last Name" type="text" id="form54" class="form-control">
        </div>
        <h3>Info: Before choosing cities, please confirm your cities listed in cities list</h3>
        <div class="col-md-3">
            <button type="button" mdbBtn color="success" mdbWavesEffect><i class="fas fa-check"></i>&nbsp;Submit</button>
        </div>
    </form>
</div>
